.message
  .message-info
    %p.message-name
      = message.user.name
    %p.message-time
      = message.created_at
  %p.message-text
    - if message.content.present?
      = message.content
  = image_tag message.image.url, class: 'message_image' if message.image.present?